.not-found-content {
  text-align: center;
}

.not-found-title {
  font-size: 36px;
  margin-top: 20px;
}

.not-found-description {
  font-size: 18px;
  margin-top: 10px;
}

.go-back-link {
  font-size: 18px;
  margin-top: 20px;
  display: block;
  color: #1890ff;
  text-decoration: underline;
}

.go-back-link:hover {
  color: #40a9ff;
}
